button {
    width: 120px;
    color: black;
    font-size: medium;
    font-family: Courier;
}

button:hover{
    color: white;
    background-color: rgba(230, 66, 1, 0.58);
}


body {
    font-family: Courier;
    vertical-align: top;
    background-color: rgba(230, 102, 9, 0.58);
}

select {
    font-size: medium;
    font-family: Courier;
}

#data {
    width: 100%;
    text-align: center;
    /*border: 1px solid black;*/
}

#signDiv {
    font-size:30px;
}

div {
    padding: 5px;
}

#imageHoroscope{
    padding: 20px;
}

#name {
    font-size: medium;
    font-family: Courier;
    width: 120px;
}